{% extends 'books/base.html' %}

<!-- Импортируем хранилище static-файлов -->
{% load static %}

{% block title %}Поиск книг{% endblock %}

<!-- Добавляем новый блок css -->
{% block extra_css %}<link rel="stylesheet" href="{% static 'books/css/search.css' %}">{% endblock %}

{% block content %}
    <div class="search-container">
        <div class="search-panel">
            <h1>Поиск книги</h1>
            <form method="GET" action="{% url 'search' %}" class="search-form">
                <input type="text" name="q" placeholder="Введите название книги" class="search-input" autocomplete="off">
                <button type="submit" class="search-button">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>
        <div class="result-container">
            {% if books %}
                <h3>Результаты поиска:</h3>
                <ul>
                    {% for book in books %}
                        <!-- Добавляем класс capitalize для озаглавия первых букв текста -->
                        <li><b><a href="{% url 'book_detail' book.id %}" class="capitalize">{{ book.title }}</a></b></li>
                    {% endfor %}
                </ul>
            {% elif request.GET.q %}
                <h3>Ничего не найдено.</h3>
            {% endif %}
        </div>        
    </div>
{% endblock %}
